* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #183a4a;
  width: 100vw;
  height: 100vh;
  color: black;
}
.box {
  height: 80px;
  width: 80px;
  margin: 10px;
  background-color: #1389b2;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 80px;
  text-align: center;
  margin-bottom: 50px;
}

/* :root {
  background: #183a4a;
  background: #3d88ae;
  background: #61d2a4;
  background: #de5471;
  background: #f9d277;
} */
